@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}




/* Importación de fuentes */
@font-face {
  font-family: "AcuminVariableConcept";
  src: url("../fonts/AcuminVariableConcept.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consola";
  src: url("../fonts/consola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ConsolaBold";
  src: url("../fonts/consolab.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansBlack";
  src: url("../fonts/NotoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


#first-section {
  background:
    linear-gradient(to bottom, white 5%, transparent 12%, white 38%),
    url('../images/return-img-background.png') no-repeat center center;
  background-size: contain;
  /* Mantiene la imagen completa visible */
  background-position: center 50px;
  /* Ajusta la posición del fondo */
}


.shadow_box {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

nav a.active-link {
  position: relative;
  border-bottom: 2px solid white;
}


/* Evitar cambios en la altura de las secciones */
section {
  padding-top: 4rem;
  /* Ajuste para que el contenido no quede oculto detrás del navbar */
}